<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="countryService" class="com.javaee.service.CountryServiceImpl">
        <constructor-arg ref="countryDAO"/>
    </bean>
    <bean id="countryDAO" class="com.javaee.dao.CountryDAOImpl"/>
</beans>